body{
    background-color: red;
    height: 100vh;
    color: wheat;
    font-size: 1rem;
}

header{
    font-size: 2rem;
    text-decoration: underline;
    color: rgb(175, 210, 175);
}
footer{
    background-color: aquamarine;
    color: red;
}

p{
    color: red;
    background-color: green;
    font-size: 8rem;
}